@charset "utf-8";
/* CSS Document */

/* Page Content */
.content {padding:20px;}

/* Header/Logo Title */
.header {
  font-family: Arial;
  padding-top: 300px;
  max-width: 100%;
  height: 800px;
  text-align: center;
  text-align-height: center;
  background: #10153D;
  color: white;
  font-size: 30px;
}

/* Style the body */
body {
  font-family: Arial;
  text-align: center;
  margin: 0;
}